/* Reset all default padding and margins */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the HTML element */
html {
    background-color: white;
}

/* Style for the body */
body {
    width: 600px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

/* Style for the header */
header {
    border-bottom: 3px solid #931420;
    padding-top: 1.5em;
    padding-bottom: 2em;
    padding-right: 30px;
    padding-left: 30px;
    background: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

/* Padding for the image in the header */
header img {
    padding-right: 30px;
    padding-left: 30px;
}

/* Style for the main element */
main {
    padding-right: 30px;
    padding-left: 30px;
}

/* Borders for the h1 in the main section */
main h1 {
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
}

/* Blockquote styling */
blockquote {
    font-style: italic;
}

/* Style for the footer */
footer {
    background-color: #931420;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
}

